.backdrop {
  background-color: rgba(0, 0, 0, 0.361);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 900px;
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 900;
}

.open {
  display: flex;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.formContainer {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editTaskBtn {
  border: 1px solid grey;
  border-radius: 5px;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 4px 6px;
  width: 100px;
  font-size: 14px;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 40px;
}

.label {
  margin-bottom: 5px;
  font-weight: 700;
  display: block;
  margin-right: 10px;
}

.input {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input:focus {
  border-color: blue;
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.select {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  width: 200px;
  justify-content: center;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  margin: 0 auto 10px;

  &:hover {
    background-color: #0056b3;
  }
}

.closeButton {
  background-color: rgba(222, 86, 86, 0.856);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &:hover {
    background-color: #e92c42;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
}

.select {
  padding: 0.5rem;
  font-size: 1rem;
}

.error {
  border-color: red;
}

.historyContainer {
  width: 40%;
  padding: 20px;
  background-color: #7e7c7c57;
}

.historyList {
  padding-left: 15px;
}

.historyItem {
  list-style: disc;
  margin-bottom: 10px;
}
