.taskCard {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  gap: 6px;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

.dueDate {
  font-size: 16px;
  color: #555;
  font-weight: 600;
}

.priority {
  font-size: 16px;
  color: #555;
  font-weight: 600;
}

.cardValue {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
}

.formGroup {
  background-color: #b2b0b094;
  padding: 4px;
  font-size: 16px;
}

.select {
  cursor: pointer;
}
