.listTitleContainer {
  position: relative;
  padding: 8px;
  display: flex;
  border: 1px solid black;
}

.taskLists {
  display: flex;
  gap: 40px;
}

.listTitleInput {
  border: none;
  outline: none;
}

.taskCounter {
  margin-right: 30px;
}

.addTaskBtn {
  display: flex;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  font-weight: 600;
}
